@model IEnumerable<Almacen.Models.Models.Prestamo>

@{
    ViewData["Title"] = "Index";
}



<h1>Buscar</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Buscar">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Persona</label>
                        <input type="text" class="form-control" name="Persona" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">FechaInicio</label>
                        <input type="datetime" class="form-control" name="FechaInicio" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">FechaFin</label>
                        <input type="datetime" class="form-control" name="FechaFin" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <input type="text" class="form-control" name="Estado" />
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>

            </div>
        </form>
    </div>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
