@model IEnumerable<Almacen.Models.Models.Prestamo>

@{
    ViewData["Title"] = "Index";


    List<Almacen.Models.Models.Marca> marcas = ViewBag.Marca as List<Almacen.Models.Models.Marca>;

    List<Almacen.Models.Models.Equipo> equipo = ViewBag.Equipo as List<Almacen.Models.Models.Equipo>;
}

<h1>Prestamo</h1>


<h2>Buscar</h2>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Buscar">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Persona</label>
                        <input type="text" class="form-control" name="Persona" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">FechaInicio</label>
                        <input type="datetime-local" class="form-control" name="FechaInicio" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">FechaFin</label>
                        <input type="datetime-local" class="form-control" name="FechaFin" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Estado</label>
                        <input type="text" class="form-control" name="Estado" />
                    </div>
                </div>

                <div class="col-md-2">
                    <label class="control-label">Activo</label>
                    <select name="Activo" class="form-control">
                        <option selected value="true">Activo</option>

                        <option value="false">Inactivo</option>

                    </select>

                </div>

                <div class="col-md-2">
                    <label class="control-label">Equipo</label>
                    <select name="EquipoId" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @foreach (var item in equipo)
                        {
                            <option value="@item.Id">@item.NombreEquipo</option>
                        }
                    </select>

                </div>


                <div class="col-md-2">
                    <label class="control-label">Marca</label>
                    <select name="MarcaId" class="form-control">
                        <option selected value="">SELECCIONAR</option>
                        @foreach (var item in marcas)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    </select>

                </div>

                <div class="form-group ">
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                    <a asp-action="Create" class="btn btn-primary">Create </a>
                </div>


            </div>
        </form>
    </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th colspan="2">Acciones</th>
            <th>

            <th>
                    @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="botonestabla">
                    @Html.ActionLink("Modificar", "Edit", new {  id = item.Id }, new { @class = "btn btn-success" })
                </td>
                <td class="botonestabla">
                    @Html.ActionLink("Ver", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                </td>
                <td class="botonestabla">
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger"})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Persona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => marcas.Where(x => x.Id == item.MarcaId).FirstOrDefault().Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => equipo.Where(x => x.Id == item.EquipoId).FirstOrDefault().NombreEquipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activo)
                </td>

            </tr>
        }
    </tbody>
</table>
